*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body{
     width: 100%;
     height: 100%;
     background-color: rgb(250, 250, 250);
}

.nav-list{
     display: inline-block;
}

.header{
     width: auto;
     height: 100%;
     padding: 2rem;
     display: flex;
}

.main-title{
     font-size: 1.5rem;
     margin-left: 4rem;
     color: #000;
}

#Challenges{
     margin-left: 20rem;
     margin-top: 1rem;
     font-size: 1rem;
     color: #000;
}

#Solutions{
     margin: 1rem;
     font-size: 1rem;
     color: #000;
}

#Resosurce{
     font-size: 1rem;
     margin: 1rem;
     color: #000;
}

#Unlock{
     margin: 1rem;
     font-size: 1rem;
     color: #000;
}

.login-link{
     font-size: 1rem;
     background-color: black;
     color: white;
     border-radius: 2rem;
     padding: 1rem 2rem 1rem 2rem;
     font-weight: 600;
}

.section{
     width: 80%;
     height: 100%;
     padding: 1rem;
     border-radius: 10px;
     justify-items: center;
     margin-left: 10rem;
     margin-top: 5rem;
     background-color: #fff;
     box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.card-list{
     display: inline-block;
}

.PREMIUM{
     color: #fff;
     padding: 0.25rem 0.5rem;
     border-radius: 20px;
     background-color: rgb(5, 5, 183);
     font-size: .9rem;
}

.HTML{
     font-size: 1.2rem;
     color: rgb(3, 206, 138);
     margin-left: 1rem;
}

.CSS{
     font-size: 1.2rem;
     margin-left: 1rem;
     color: rgb(5, 5, 157);
}

.JS{
     font-size: 1.2rem;
     margin-left: 1rem;
     color: rgb(181, 42, 42);
}

.title{
     font-size: 1.8rem;
     font-weight: 500;
     margin-bottom: 2rem;
     margin-top: 2rem;
}

.text{
     font-size: 1.1rem;
     font-weight: 400;
     color: rgb(124, 119, 119);
     margin-bottom: 2rem;
}

.start-button{
     padding: 0.7rem 3.5rem;
     border-radius: 40px;
     letter-spacing: 0.1rem;
     font-size: 1rem;
     font-weight: 800;
     margin-bottom: 1rem;
     background-color: rgb(241, 48, 48);
     color: #fff;
     border: 0;
}

.image-container{
     display: flex;
     align-items: center;
}

.image{
     width: 100%;
}

.card{
     width: 50%;
     height: 100%;
     margin: 1rem;
}

.button{
     margin-top: 1rem;
}

.DESKTOP-DESIGN{
     padding: 0.25rem 0.5rem;
     border-radius: 40px;
     font-size: .8rem;
     font-weight: 900;
     background-color: rgb(5, 5, 183);
     color: whitesmoke;
}

.TABLET-DESIGN{
     padding: 0.25rem 0.5rem;
     border-radius: 40px;
     font-size: .8rem;
     font-weight: 900;
     background-color: transparent;
     color: rgb(115, 115, 115);
}

.MOBILE-DESIGN{
     padding: 0.25rem 0.5rem;
     border-radius: 40px;
     font-size: .8rem;
     font-weight: 900;
     background-color: transparent;
     color: rgb(115, 115, 115);
}

.section-1{
     display: flex;
     gap: 2rem;
}

.card-1{
     width: 80%;
     height: auto;
     margin-left: 10rem;
     margin-top: 5rem;
     padding: 1rem;
     border-radius: 10px;
     box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.card-2{
     width: 80%;
     height: 100%;
     padding: 1rem;
     box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
     border-radius: 10px;
}

.title-1{
     font-size: 2rem;
     font-weight: 300;
     margin-bottom: .5rem;
}

.text-1{
     font-size: 1.2rem;
     font-weight: 400;
     color: black;
     margin-bottom: 1rem;
}

.text-list{
     padding-left: 1.5rem;
     margin-bottom: 1rem;
     font-size: 1.2rem;
}

.title-2{
     font-size: 2rem;
     font-weight: 300;
     margin-bottom: 1rem;
}

.text-2{
     font-size: 1.1rem;
     font-weight: 400;
     color: black;
     margin-bottom: 2rem;
}

.div{
     display: flex;
     flex-direction: column;
     gap: 2rem;
     margin-top: 5rem;
}

.second-section{
     width: 100%;
     height: auto;
     
}

.discord-box{
     width: 80%;
     height: auto;
     margin-left: 10rem;
     margin-top: 5rem;
     text-align: center;
     padding: 2rem 3rem;
     background-color: rgb(51, 114, 231);
     border: 0;
     box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
     border-radius: 10px;
}

#main-title{
     font-size: 2rem;
     color: white;
     margin-bottom: 2rem;
}

#title{
     font-size: 1.25rem;
     color: white;
     margin-bottom: 2rem;
}

#text{
     font-size: 2rem;
     color: white;
     margin-bottom: 2rem;
}

.discord-button{
     padding: 1rem 2rem 1rem 2rem;
     border-radius: 2rem;
     background-color: white;
     color: rgb(34, 34, 204);
     font-size: 1rem;
}

.footer{
     margin-top: 5rem;
     background-color: rgb(255, 255, 255);
     width: 100% ;
     height: auto;
     
}

.footer-box{
     display: flex;
     margin: 3rem;
}

li{
     display: block;
     margin: 1rem 0;
     font-size: 1.2rem;
     font-weight: 700;
}

.footer-title{
     margin: 2rem;
     font-size: 1.5rem;
     padding-top: 2rem;
}

.email-box{
     width: 40%;
     height: auto;
}

#email-title{
     font-size: 2rem;
     color: darkblue;
     margin-bottom: 1rem;
}

.email-text{
     font-size: 1.2rem;
     font-weight: 500;
     margin-bottom: 1rem;
}

.placeholder-box{
     padding: 1rem 2rem .5rem .25rem;
     font-size: 1.2rem;
     font-weight: 500;
     border: 0;
     border-radius: 5px;
     box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.subscribe-button{
     border-radius: 2rem;
     padding: 1rem 2rem;
     margin-left: 3rem;
     background-color: rgb(237, 44, 73);
     color: #fff;
     font-size: .8rem;
     font-weight: 800;
     border: 0;
     box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.contact-box{
     width: 15%;
     height: auto; 
}

.explore-box{
     width: 15%;
     height: auto;
     margin-left: 1rem;
}

.community-box{
     width: 15%;
     height: auto;
}

.last-box{
     width: 15%;
     height: auto;
}

.Unlock{
     margin: 1rem;
     font-size: 1rem;
}

.Contact{
     margin: 1rem;
     font-size: 1rem;
}

.FAQs{
     margin: 1rem;
     font-size: 1rem;
}

.Challenges{
     margin: 1rem;
     font-size: 1rem;
}

.Solutions{
     margin: 1rem;
     font-size: 1rem;
}

.Resources{
     margin: 1rem;
     font-size: 1rem;
}

.Discord{
     margin: 1rem;
     font-size: 1rem;
}

.Guidelines{
     margin: 1rem;
     font-size: 1rem;
}

.Blog{
     margin: 1rem;
     font-size: 1rem;
}

.Hire developers{
     margin: 1rem;
     font-size: 1rem;
}
